.titlebar {
  margin-bottom: 20px;
}
.title {
  font-size: 36pt;
  font-family: Geneva;
}

.firstname {
  color: #4d4d4d;
}

.lastname {
  color: #999999;
}

.logo {
  margin: 0;
  margin-right: 10px;
  width: 63px;
}

.imagelink {
  /*position: relative;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail {
  width: 100%;
  margin: auto;
}

.thumbnail-title {
  position: absolute;
  /*top: 0;
  right: 0;
  bottom: 0;
  left: 0;*/
  background-color: rgba(0,0,255,0.5);
  color: white;
  /*text-align: center;*/
}

.imagebins td {
  border: 1px solid black;
  padding: 10px;
  vertical-align: middle;
}
